*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */
:root {
  --primary-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Source Code Pro", monospace;

  --weight-reg: 300;
  --weight-bold: 900;

  --color-light: #fff;
  --color-dark: #303030;
  --color-accent: #16e0bd;

  --font-size-h1: 3rem;
  --font-size-h2: 2.25rem;
  --font-size-h3: 1.25rem;
  --font-size-body: 1rem;
  --font-size-description: 20px;

  --description-width: 50%; 

  --img-width: 100%;
  --img-width-education: 100%; 

  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

/* For Larger Screen Size */

@media (min-width: 601px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;

    --img-width: 80%;
    --img-width-education: 25%; 
  }
}

@media (max-width: 599px){
  :root {
    --fs-h1: 3.5rem; 
    --fs-h2: 3.25rem;
    --fs-h3: 1rem; 
    --fs-body: 0.85rem; 
    
    --font-size-description: 16px;
    --description-width: 100%; 
  }

}

/* Introductory/Welcome Section */

.header-logo {
  color: white; 
  background: linear-gradient(35deg, #02fefe, #7801af);
}

.intro_img {
  width: var(--img-width);
  box-shadow: var(--box-shadow);
}

.nav__item {
  color: white; 
}

.nav__link {
  color: white; 
}

#logo-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#contact-info-name {
  font-size: 24px
}

.welcome-section {
  width: 100%;
  background: linear-gradient(35deg, #9902fe, #7801af); 
}

@media (min-width: 600px) {
  .welcome-section {
    display: grid;
    width: 100%;
    background: linear-gradient(60deg, #fe0256, #0104af); 
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
    justify-content: center; 
  }

  .intro_img {
    grid-area: img;
    min-width: 330px;
    position: relative;
    z-index: 4;
  }

  .section-subtitle-welcome {
    font-size: 20px;
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -6em;
    width: calc(100% + 6em);
  }
}

.section-title-welcome {
  font-weight: normal;
  color: white; 
}

.section-title-welcome strong {
  /* Print on New Line */
  display: block;
}

.section-subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section-subtitle-welcome {
  background: var(--color-accent);
  font-family: var(--secondary-font);
  margin-bottom: 1em;
  padding: 0.25em;
  padding-right: 0.5em;
}

.welcome-section {
  position: relative;
}

/* End of Introductory/Welcome Section*/

/* Styles for the Navigation/Header Page */

/* Smaller Screens */
@media (max-width: 599px) {
  .logo { 
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-info {
    padding: 0.5em 0.5em;
  }

  #contact-info-name {
    font-size: 18px;
  }

  .nav-toggle {
    display: none;
  }

  .contact-info {
    font-size: 14px;
    top: 0px;
    color: white; 
  }

  .nav {
    top: 40px;
    /* display: none; */
  }

  .logo-img {
    flex-shrink: 2;
  }

  #logo-img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
  }

  .nav__list {
    font-size: 14px; 
  }
}

/* Larger Screens */
@media (min-width: 600px) {
  .logo {
  
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-info {
    padding: 1em 1em;
  }

  .nav-toggle {
    display: none;
  }

  .contact-info {
    font-size: 20px;
    top: 0px;
  }

  .nav {
    top: 40px;
    /* display: none; */
  }
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  margin: 0;
  font-family: var(--primary-font);
  font-size: var(--font-size-body);
  line-height: 1.6;
}

/* End of Media Queries */

/* Extracurricular Section */

.extracurricular-section {
  background: linear-gradient(35deg, #0267fe, #8601AF);
  color: var(--color-light);
  margin: auto;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) 
{
  .extracurricular-section {
    margin-top: auto; 
  }
}

.interests {
  font-size: var(--font-size-description);
}

.section-title-extracurricular {
  color: cyan;
  text-align: center;
  font-size: 3.75em;
}

.interest-heading {
  text-align: center;
  font-size: 30px;
  color: lightblue;
}

.work-button {
  font-size: 2rem;
  color: orangered;
  margin: 0;
}

@media (max-width: 600px) 
{
  .work-button {
    font-size: 1.25rem; 
  }
}

.interest-description {
  text-align: center;
  width: 50%; 
  margin: auto; 
  padding: 1em 1em; 
}

.interest {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.interest-violin {
  display: flex;
}

/* End of Extracurricular Section */

/* Education Section */
.education {
  display: block; 
  overflow: auto; 
  color: var(--color-light);
  font-size: 2rem;
  background-image: url(https://www.thebalancecareers.com/thmb/hKctLkuZxqFGd3XpQCUjQBjSPjQ=/3436x2577/smart/filters:no_upscale\(\)/school-books-on-desk--education-concept-871454068-5b548900c9e77c005b04fc8c.jpg);
  background-size: cover;
  align-items: center;
  text-align: center;
}

#bloor-img {
  width: 32rem;
  display: block;
  margin: auto;  
}

.section-title-education {
  color: yellow;
  font-size: 2.0em; 
}

#education-description {
  width: 40%; 
  text-align: left; 
  margin: auto; 
  color: white; 
  font-size: 1.5rem; 
}

@media (max-width: 1200px){
  #education-description {
    width: 40%; 
    font-size: 1.4rem; 
  }

  #bloor-img {
    width: 40%
  }
}

@media (max-width: 850px) {
  #education-description {
    width: 40%;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  #education-description {
    width: 40%;
    font-size: 0.75rem; 
  }
}

.education-body {
  font-size: 1.25em;
  display: flex; 
  justify-content: space-between;
}

/* End of Education Section */

/* Project Section */

.my-projects {
  text-align: center;
  align-items: center;
  background: linear-gradient(45deg, #CCFFFF, #FFCCCC);
}

.portfolio-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.portfolio-img:hover {
  animation: shake 0.75s; 
  animation-iteration-count: infinite; 
}

@keyframes shake {
  /* Credits: w3schools */ 
  0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
  10% { transform: translate(-0.5px, -1px) rotate(-0.5deg); }
  20% { transform: translate(-1.5px, 0px) rotate(0.5deg); }
  30% { transform: translate(1.5px, 1px) rotate(0deg); }
  40% { transform: translate(0.5px, -0.5px) rotate(0.5deg); }
  50% { transform: translate(-0.5px, 1px) rotate(-0.5deg); }
  60% { transform: translate(-1.5px, 0.5px) rotate(0deg); }
  70% { transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
  80% { transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  90% { transform: translate(0.5px, 1px) rotate(0deg); }
  100% { transform: translate(0.5px, -1px) rotate(-0.5deg); }
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-subtitle-projects {
  font-size: 20px;
  color: darkblue;
}

.section-title-projects {
  font-size: 40px;
  color: darkblue; 
}
/* End of Project Section */

/* Coding Project Grid Section */

.coding-project-grid {
    display: grid; 
    grid-column-gap: 50px; 
    grid-row-gap: 50px; 
    font-size: 20px; 
}

.android-development {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2; 
}

.python {
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 2;
}

.front-end-development {
    grid-column-start: 1; 
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.api-projects {
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}


/* End of Coding Project Grid Section */ 

/* Footer Section */
.footer-section {
  text-align: center;
  background-image: url(http://media1.popsugar-assets.com/files/2021/01/14/843/n/1922507/10fa7acca6b544e5_simon-berger-twukN12EN7c-unsplash/i/Colorful-Mountains-Zoom-Background.jpg);
  background: cover; 
}

.footer-link {
  font-size: 24px;
  color: darkblue;
}

.foot-section-subheading {
  font-size: 2rem; 
  color: darkblue; 
}

.footer-link-violin {
  font-size: 24px; 
  color: darkblue; 
}

/* End of Footer Section */

/* General Features */

img {
  display: block;
  max-width: 100%;
}

.footer-subheading {
  font-size: 40px;
  color: darkblue;
}

.portfolio-img {
  height: 50%;
  width: 50%;
}

/* Typography */

strong {
  font-weight: bold;
}

section {
  padding: 5em 2em;
}

footer {
  padding: 5em 2em;
}

header {
  padding: 5em 2em;
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

.underh1 {
  font-size: 18px;
}