.full-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 95vw;
  height: 95vh;
  object-fit: contain;
  transform: translate(-50%, -50%);
  z-index: 10000;
  opacity: 0; /* Start with the image hidden */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transition for opacity and position */
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  z-index: 9999; /* Behind the image */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.full-screen.show, .blur-overlay.show {
  opacity: 1;
}

.hidden {
    display: none;
}
  