/* Footer Section */

.footer-section {
    text-align: center;
    background: white;
    background: cover; 
  }
  
  .footer-link {
    font-size: 24px;
    color: darkblue;
  }
  
  .foot-section-subheading {
    font-size: 2rem; 
    color: darkblue; 
  }
  
  .footer-link-violin {
    font-size: 24px; 
    color: darkblue; 
  }

  .footer__link {
    text-decoration: none;
    color: black; 
    font-size: 1.25em; 
  }

  .logo-list {
    display: flex; 
    margin: auto; 
    margin-top: 3em; 
    align-items: center; 
  }

  .logo-link {
    margin: auto;
  }

  .logo-github {
    height: 8vh;  
  }

  .logo-instagram {
    height: 8vh; 
  }

  .logo-recruit {
    height: 8vh; 
  }
  
  /* End of Footer Section */