/* Footer Section */

.footer-section {
  text-align: center;
  background: rgb(255, 255, 255);
  margin: auto; 
  align-items: center; 
  position: relative; 
}

.navigation-list {
  margin-top: 3em; 
}
  
.footer-link {
  font-size: 24px;
  color: darkblue;
}

.foot-section-subheading {
  font-size: 2rem; 
  color: darkblue; 
}

.footer-link-violin {
  font-size: 24px; 
  color: darkblue; 
}

.footer__link {
  text-decoration: none;
  color: black; 
  font-size: 1.25em; 
}

.logo-list {
  display: grid; 
  margin: auto; 
  margin-top: 3em; 
  align-items: center; 
}

/* 
  .logo-link {
    margin: auto;
  }

  .logo-github {
    height: 55%; 
    width: 55%;  
  }

  .logo-instagram {
    height: 55%; 
    width: 55%; 
  }

  .logo-recruit {
    height: 55%; 
    width: 55%; 
} */ 

.logo-list {
  display: grid;
  justify-content: center;  
  align-items: center;
  flex-direction: column; 
}

.logo-github {
  height: 50%; 
  width: 50%; 
  margin: auto; 
}

.logo-instagram {
  height: 25%; 
  width: 25%; 
  margin: auto; 
  margin-top: 1.25em; 
}

.logo-recruit {
  height: 55%; 
  width: 55%;
  margin: auto;  
}

@media (min-width: 1050px) {
  .logo-list {
    display: flex; 
    justify-content: center;  
    align-items: center;
    margin-left: 1em; 
    flex-direction: row; 
  }

  .logo-github {
    margin: none; 
    height: 50%; 
    width: 50%; 
  }

  .logo-instagram {
    margin: none; 
    margin-top: 0em; 
    height: 40%; 
    width: 40%; 
  }

  .logo-recruit {
    margin: none; 
    height: 55%; 
    width: 55%; 
  }
}
  
.footer-logo {
  margin: auto; 
}

#footer-logo-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: auto; 
  margin-top: 3em; 
}

.footer-text {
  font-size: 18px; 
  color: rgb(0, 69, 173);  
}

#footer-name {
  font-size: 22px; 
  color: rgb(0, 69, 173);
}

/* End of Footer Section */