/* Footer Section */

.footer-section {
    text-align: center;
    background: linear-gradient(45deg, #26c2f1, #f0ab16);
    background: cover; 
  }
  
  .footer-link {
    font-size: 24px;
    color: darkblue;
  }
  
  .foot-section-subheading {
    font-size: 2rem; 
    color: darkblue; 
  }
  
  .footer-link-violin {
    font-size: 24px; 
    color: darkblue; 
  }
  
  /* End of Footer Section */