/* Introductory/Welcome Section */
.header-logo {
  color: white; 
  background: #19c2c2;
  overflow: hidden; 
}

.welcome-grid {
  margin-bottom: 10em; 
  margin-top: 20em; 
}

.welcome-section {
  position: relative;
}

.intro_img {
  width: var(--img-width);
  box-shadow: var(--box-shadow);
}
  
.nav__item {
  color: white; 
}
  
.nav__link {
  color: white; 
  text-decoration: none;
}
  
#logo-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
  
#contact-info-name {
  font-size: 24px
}

#contact-info-description {
  font-size: 18px; 
}

#github {
  color: white; 
  text-decoration: none;
}

.welcome-section {
  position: relative; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(60deg, #fe0256, #0104af); 
}

@media (min-width: 600px) {
  .welcome-grid {
    display: grid;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4em; 
    margin-top: 4em; 
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
    justify-content: center; 
  }

  .intro_img {
    grid-area: img;
    min-width: 330px;
    position: relative;
    z-index: 4;
  }

  .section-subtitle-welcome {
    font-size: 20px;
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -6em;
    width: calc(100% + 6em);
  }
}

.section-title-welcome {
  font-weight: normal;
  color: white; 
}

.section-title-welcome strong {
  /* Print on New Line */
  display: block;
}

.section-subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section-subtitle-welcome {
  background: var(--color-accent);
  font-family: var(--secondary-font);
  margin-bottom: 1em;
  padding: 0.25em;
  padding-right: 0.5em;
  padding-left: 0.5em; 
}

@media(max-width: 600px) {
  #contact-info-name {
    font-size: 24px
  }
  
  #contact-info-description {
    font-size: 16px; 
  }
}  

/* End of Introductory/Welcome Section*/