.robotics-section {
    margin: 0;
    padding: 0; 
    background: #afeeee;
}

.section-title-robotics {
    color: rgb(11, 135, 243); 
    text-align: center;
    font-size: 2.75em;
    margin-top: 0;
    padding: 1em 0 0.5em 0;
    margin-bottom: 0.5em; 
}

.robot-name-subtitle {
    color: #ff4040; 
    background-color: #3399ff;
    text-align: center; 
    padding: 1.25em; 
    font-size: 4vw; 
}

.robotics-grid {
    position: relative; 
    margin: 0; 
    padding: 0;
}

.github {
    position: absolute;
    margin: 5px;
    top: 0%;
    right: 0%;
    height: 4vw;
    width: 4vw;
}

@keyframes scale-github {
    to {
      transform: scale(1.25); 
    }
  }

.github:hover {
    cursor: pointer; 
    animation: scale-github 200ms ease-in-out forwards; 
}

.logo-img {
    border-radius: 50%; 
}

/* Koda's Section */ 
.koda {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1em; 
}

.robot-slide {
    display: none;
}

.cursor {
    cursor: pointer; 
}

.prev, 
.next {
    cursor: pointer; 
    position: absolute; 
    top: 60%; 
    width: auto; 
    padding: 16px; 
    margin-top: -50px; 
    color: white; 
    font-weight: bold; 
    font-size: 20px; 
    border-radius: 0 3px 3px 0; 
    user-select: none; 
    -webkit-user-select: none; 
}

.next {
    right: 0; 
    border-radius: 3px 0 0 3px; 
}

.prev:hover, 
.next:hover {
    background-color: rgba(33, 99, 255, 0.8);
}

.number-text {
    color: #f2f2f2;
    font-size: 12px; 
    padding: 8px 12px; 
    position: absolute; 
    top: 0;
}

.row:after {
    content: ""; 
    display: table; 
    clear: both; 
}

.column {
    float: left; 
    width: 12.5%; 
    overflow: auto; 
}

.column img {
    object-fit: cover; 
}

.robot-demo {
    opacity: 0.6;
}

.active, .robot-demo:hover {
    opacity: 1;
}

.koda-slides {
    position: relative; 
    box-sizing: border-box;
    border-width: 1em; 
    border-color:cornflowerblue;
    border-style: groove;
    border-radius: 1em;
    margin: 0 15vw 0 15vw;
}

.robot-pictures {
    width: auto;
    height: auto;
    vertical-align: middle; 
}

/* Callisto's Section */
.callisto {
    padding-left: 5vw; 
    padding-right: 5vw; 
    padding-top: 2em; 
}

.callisto-slides {
    position: relative; 
    box-sizing: border-box;
    border-width: 1em; 
    border-color:cornflowerblue;
    border-style: groove;
    border-radius: 1em;
    margin: 0 15vw 0 15vw;
}

.houston-slide {
    display: none; 
}

.callisto-column {
    float: left; 
    width: 10.0%; 
    overflow: auto; 
}

.callisto-prev, 
.callisto-next {
    cursor: pointer; 
    position: absolute; 
    top: 55%; 
    width: auto; 
    padding: 16px; 
    
    color: white; 
    font-weight: bold; 
    font-size: 20px; 
    border-radius: 0 3px 3px 0; 
    user-select: none; 
    -webkit-user-select: none; 
}

.callisto-next {
    right: 0; 
    border-radius: 3px 0 0 3px; 
}

.callisto-prev:hover,
.callisto-next:hover {
    background-color: rgba(33, 99, 255, 0.8);
}