.robotics-section {
    margin: 0;
    padding: 0; 
    position: relative; 
    align-items: center;
    box-sizing: border-box; 
}

.robotics-grid {
    position: relative; 
    margin: 0; 
    padding: 0;
}

.koda {
    margin: 10% auto 0 auto; 
    padding: 0; 
    background-color: antiquewhite; 
    border-radius: 10px; 
    height: 60vh; 
    width: 80vw; 
    overflow: hidden;
    border: 1px saddlebrown solid; 
    box-shadow: 20px hsl(0, 0%, 3%); 
    z-index: -1; 
}

.slide {
    float: left; 
    object-fit: contain;
}

.koda-slides {
    -webkit-animation-name: slide; 
    animation-name: slide; 
    -webkit-animation-duration: 20s; 
    animation-duration: 20s; 
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; 
    -webkit-animation-play-state: running; 
    animation-play-state: running; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.robot-pictures {
    width: auto;
    height: auto;
}

.slide:nth-child(1) {
    z-index: 1; 
}

@keyframes slide {
    12.5% {
        margin-left: 0px; 
    }

    25.0% {
        margin-left: calc(-600px * 1);
    }

    37.5% {
        margin-left: calc(-600px * 2);
    }

    50.0% {
        margin-left: calc(-600px * 3); 
    }

    67.5% {
        margin-left: calc(-600px * 4); 
    }

    75.0% {
        margin-left: calc(-600px * 5); 
    }

    
}