.robotics-section {
    margin: 0;
    padding: 0; 
    background: #bada55;
}

.section-title-robotics {
    color: rgb(11, 135, 243); 
    text-align: center;
    font-size: 2.75em;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0.5em; 
}

.robotics-grid {
    position: relative; 
    margin: 0; 
    padding: 0;
}

.koda {
    padding: 5em;
}

.robot-slide {
    display: none;
}

.cursor {
    cursor: pointer; 
}

.prev, 
.next {
    cursor: pointer; 
    position: absolute; 
    top: 40%; 
    width: auto; 
    padding: 16px; 
    margin-top: -50px; 
    color: white; 
    font-weight: bold; 
    font-size: 20px; 
    border-radius: 0 3px 3px 0; 
    user-select: none; 
    -webkit-user-select: none; 
}

.next {
    right: 0; 
    border-radius: 3px 0 0 3px; 
}

.prev:hover, 
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.number-text {
    color: #f2f2f2;
    font-size: 12px; 
    padding: 8px 12px; 
    position: absolute; 
    top: 0;
}

.row:after {
    content: ""; 
    display: table; 
    clear: both; 
}

.column {
    float: left; 
    width: 12.5%; 
}

.demo {
    opacity: 0.6;
}

.active, .demo:hover {
    opacity: 1;
}

.koda-slides {
    position: relative; 
    box-sizing: border-box;
    border-width: 1em; 
    border-color:cornflowerblue;
    border-style: groove;
    border-radius: 1em;
}

.robot-pictures {
    width: auto;
    height: auto;
    vertical-align: middle; 
}