:root {
    --animation-speed: 4s; 
    --animation-steps: 25; 
    --animation-delay: 5s; 
    --background-color-primary: #ccfffc; 
}

.typewriter-section {
    margin: 0; 
    font-family: "Source Code Pro", monospace;
    display: grid;
    place-content: center; 
    text-align: center;
    background: var(--background-color-primary);
}

.typewriting-animation {
    color: black;
    font-weight: bold; 
    position: relative; 
    font-family: "Source Code Pro", monospace;
    font-size: 20px;
    position: relative; 
    padding: 0.5em; 
}

.typewriting-animation::before, 
.typewriting-animation::after {
    position: absolute;
    content: ''; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
}

.typewriting-animation::before {
    background: var(--background-color-primary);
    animation: typewriter var(--animation-speed) steps(var(--animation-steps)) var(--animation-delay) forwards; 
}

.typewriting-animation::after {
    width: 0.125em; 
    background: black;
    animation: typewriter var(--animation-speed) steps(var(--animation-steps)) var(--animation-delay) forwards, 
    blink 750ms steps(var(--animation-steps)) infinite; 
}

@keyframes typewriter {
    to {
        left: 100%; 
    } 
}

@keyframes blink {
    to {
        background: transparent; 
    }
}

@keyframes disappear {
    to {
        background: var(--background-color-primary);
    }
}