.violin-performances-section {
    background: #0267fe;
}

.section-title-violin {
    color: rgb(11, 243, 224); 
    text-align: center;
    font-size: 2.75em;
    margin-bottom: 0.5em; 
}

.solo-performances {
    display: grid; 
    grid-column-gap: 1em;
    align-items: center; 
    margin-bottom: 3em; 
}

.chamber-performances {
    display: grid; 
    grid-column-gap: 1em; 
    align-items: center; 
}

.violin-section-subtitles {
    text-align: center; 
    color: rgb(241, 179, 9); 
    font-size: 2.25em; 
    padding: 0.25em; 
    margin-bottom: 0.25em;
}

.violin-section-song-name {
    text-align: center;
    color: rgb(231, 229, 216); 
    font-size: 1.25em;
}

.violin-video {
    align-content: center;
}

.thumbnail {
    height: 85%; 
    width: 85%; 
    margin: auto; 
    padding-bottom: 2.5em; 
    padding-left: 1em;
    padding-right: 1em;  
}

.performances:hover {
    background: rgb(5, 168, 243); 
    animation: scale 200ms ease-in-out forwards; 
}

@keyframes scale {
    to {
      transform: scale(1.05); 
    }
  }

#concerto-g-major-mozart {
    margin: auto; 
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2; 
}

#allegro-brillante {
    margin: auto; 
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 3; 
}

#trio-beethoven {
    margin: auto; 
    grid-column-start: 1; 
    grid-column-end: 2;
    grid-row-start: 1; 
    grid-row-end: 2; 
}

#astor-piazzolla {
    margin: auto; 
    grid-column-start: 1; 
    grid-column-end: 2;
    grid-row-start: 2; 
    grid-row-end: 3; 
}

@media (min-width: 950px) {
    .thumbnail {
        height: 90%; 
        width: 90%; 
        margin: auto; 
    }

    #allegro-brillante-thumbnail {
        height: 100%; 
    }

    #allegro-brillante {
        margin: auto; 
        grid-column-start: 2; 
        grid-column-end: 3; 
        grid-row-start: 1; 
        grid-row-end: 2; 
    }

    #astor-piazzolla {
        margin: auto; 
        grid-column-start: 2;
        grid-column-end: 3; 
        grid-row-start: 1; 
        grid-row-end: 2; 
    }
}



